<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>whatsapp</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h2>All Chats</h2>
  <% for(let chat of chats) { %>
    <div class="chat">
      <p><i>From:<%= chat.from %></i></p>
      <div class="msg">
        <p>Message:<%= chat.message %>
        </p>
        <form method="GET" action=" /chats/<%=chat._id %>/edit">
          <button class="edit">Edit</button>
        </form>
        <form method="Post" action=" /chats/<%=chat._id %>/delete?_method=DELETE">
          <button class="delete">delete</button>
        </form>
      </div>
      <p><i>recived by:<%= chat.to %></i></p>
      <hr>
      <p>
        <%= chat.created_at.toString().split(" ")[4] %></p>
        <p>
          <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %>
      </p>
      <br>
    </div>
    <!-- <hr> -->
    <%} %>
      <br><br>
      <form action=" /chats/new">
          <button>
            New Chat
          </button>
          </form>
</body>

</html>